@model IEnumerable<Boats.Models.Boat>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Security.Claims

<ol>

    @foreach (var listBoat in Model)
    {
        <li>
            <h3>Boat Model: @Html.DisplayFor(modelBoat => listBoat.Name)</h3>
            <h4>Price: $@Html.DisplayFor(modelBoat => listBoat.Price)</h4>
            <h4>
                Cost: $@Html.DisplayFor(modelBoat => listBoat.Cost),
                Inventory: @Html.DisplayFor(modelBoat => listBoat.Inventory),
                Image Url: @Html.DisplayFor(modelBoat => listBoat.Image),
                Revenue from each boat: @Html.DisplayFor(modelBoat => listBoat.Revenue)
            </h4>
        </li>
    }
</ol>

<h2>Add a new Boat</h2>
<form action="NewBoat" class="new-boat">
    <label for="newName">Name: </label>
    <input type="text" name="newName" />
    <label for="newPrice">Price: </label>
    <input type="number" name="newPrice" />
    <label for="newCost">Cost: </label>
    <input type="number" name="newCost" />
    <label for="newInventory">Inventory: </label>
    <input type="number" name="newInventory" />
    <label for="newImage">Image: </label>
    <input type="text" name="newImage" />
    <button type="submit">Submit</button>
</form>
<div id="create-result"></div>



@*<h2>Sell a boat!</h2>
<form action="SellBoat" class="sell-boat">
    <label for="newBoatId">Boat: </label>
    <select class="form-control" id="boat">
        @foreach (var listBoat in Model)
        {
            <option>@listBoat.Name</option>

        }
    </select>
    <label for="newComment">Comment: </label>
    <input type="text" name="newComment" />

    <input name="newAssociateId" type="hidden" value="@User.Identity.Name">
    <button type="submit">Sell!</button>
</form>
<div id="sell-result"></div>*@